@charset "UTF-8";
/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html, button, input, select, textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p, pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before, q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu, ol, ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'fontawesome';
  src: url("../../fonts/fontawesome.eot");
  src: url("../../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontawesome.svg#fontawesome") format("svg"), url("../../fonts/fontawesome.woff") format("woff"), url("../../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CartoGothic Std';
  src: url("../../fonts/CartoGothicStd-Bold-webfont.eot");
  src: local("☺"), url("../../fonts/CartoGothicStd-Bold-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Bold-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'CartoGothic Std';
  src: url("../../fonts/CartoGothicStd-BoldItalic-webfont.eot");
  src: local("☺"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'CartoGothic Std';
  src: url("../../fonts/CartoGothicStd-Book-webfont.eot");
  src: local("☺"), url("../../fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Book-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'CartoGothic Std';
  src: url("../../fonts/CartoGothicStd-Italic-webfont.eot");
  src: local("☺"), url("../../fonts/CartoGothicStd-Italic-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Italic-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Italic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILB-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILB-webfont.woff") format("woff"), url("../../fonts/CharisSILB-webfont.ttf") format("truetype"), url("../../fonts/CharisSILB-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILBI-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILBI-webfont.woff") format("woff"), url("../../fonts/CharisSILBI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILBI-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILI-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILI-webfont.woff") format("woff"), url("../../fonts/CharisSILI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILI-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILR-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILR-webfont.woff") format("woff"), url("../../fonts/CharisSILR-webfont.ttf") format("truetype"), url("../../fonts/CharisSILR-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILB-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILB-webfont.woff") format("woff"), url("../../fonts/CharisSILB-webfont.ttf") format("truetype"), url("../../fonts/CharisSILB-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILBI-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILBI-webfont.woff") format("woff"), url("../../fonts/CharisSILBI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILBI-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILI-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILI-webfont.woff") format("woff"), url("../../fonts/CharisSILI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILI-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Charis SIL';
  src: url("../../fonts/CharisSILR-webfont.eot");
  src: local("☺"), url("../../fonts/CharisSILR-webfont.woff") format("woff"), url("../../fonts/CharisSILR-webfont.ttf") format("truetype"), url("../../fonts/CharisSILR-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Inconsolata';
  src: url("../../fonts/Inconsolata-webfont.eot");
  src: local("☺"), url("../../fonts/Inconsolata-webfont.woff") format("woff"), url("../../fonts/Inconsolata-webfont.ttf") format("truetype"), url("../../fonts/Inconsolata-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 500;
  font-style: normal; }

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'fontawesome';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  line-height: 1;
  speak: none; }

body {
  color: #1c1b1c;
  text-align: center;
  font-family: "Charis SIL", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 1.015em; }
  body > * {
    margin: 0 auto;
    text-align: left; }

img {
  max-width: 100%; }

#site-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ada28e;
  width: 100%;
  padding: 0 1.618em;
  z-index: 9999; }

#menu-admin {
  margin-left: -9999em;
  margin-right: -9999em;
  padding-left: 9999em;
  padding-right: 9999em;
  z-index: 900;
  background: #1c1b1c;
  color: #fff;
  min-height: 23px; }
  #menu-admin ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    z-index: 999; }
  #menu-admin a {
    display: block; }
  #menu-admin li {
    display: inline-block; }
    #menu-admin li a:focus + ul {
      margin-left: 0; }
    #menu-admin li li a:focus + ul {
      margin-left: 1010em; }
    #menu-admin li li a:focus {
      margin-left: 1000em;
      width: 10em; }
    #menu-admin li li li a:focus {
      margin-left: 2010em;
      width: 10em; }
    #menu-admin li:hover a:focus, #menu-admin li.sfhover a.sffocus {
      margin-left: 0; }
    #menu-admin li li:hover a:focus + ul, #menu-admin li li.sfhover a.sffocus + ul {
      margin-left: 10em; }
    #menu-admin li:hover ul, #menu-admin li.sfhover ul {
      left: auto; }
      #menu-admin li:hover ul li, #menu-admin li.sfhover ul li {
        display: block;
        width: auto; }
      #menu-admin li:hover ul ul, #menu-admin li.sfhover ul ul {
        left: -999em; }
    #menu-admin li li:hover ul, #menu-admin li li.sfhover ul {
      left: auto; }
    #menu-admin li ul {
      position: absolute;
      width: 7em;
      left: -999em; }
      #menu-admin li ul ul {
        margin: -1em 0 0 7em; }
  #menu-admin ul {
    padding-left: 0;
    margin: 0; }
    #menu-admin ul ul {
      background: #1c1b1c;
      margin-left: -0.4045em; }
  #menu-admin li {
    display: inline-block;
    margin-left: 1.618em;
    list-style: none; }
    #menu-admin li:first-child {
      margin-left: 0; }
    #menu-admin li:hover {
      background: #ada28e; }
      #menu-admin li:hover a {
        color: #1c1b1c; }
      #menu-admin li:hover li a {
        color: #ada28e; }
        #menu-admin li:hover li a:hover {
          color: #1c1b1c; }
    #menu-admin li li {
      margin-left: 0; }
      #menu-admin li li a {
        padding: 0.20225em; }
  #menu-admin a {
    padding: 0.20225em;
    height: 100%;
    color: #ada28e; }
    #menu-admin a:hover {
      color: #1c1b1c;
      background: #ada28e;
      text-decoration: none; }

#header-content {
  z-index: 500; }
  #header-content > * {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    z-index: 501; }
  #header-content h1 {
    font-size: 1rem;
    font-style: italic;
    margin-left: 1.618em; }
  #header-content > a > img {
    width: 6em;
    padding-top: .125rem; }

#menu-site {
  text-align: right;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2.25rem; }
  #menu-site ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    z-index: 999; }
  #menu-site a {
    display: block; }
  #menu-site li {
    display: inline-block; }
    #menu-site li a:focus + ul {
      margin-left: 0; }
    #menu-site li li a:focus + ul {
      margin-left: 1010em; }
    #menu-site li li a:focus {
      margin-left: 1000em;
      width: 10em; }
    #menu-site li li li a:focus {
      margin-left: 2010em;
      width: 10em; }
    #menu-site li:hover a:focus, #menu-site li.sfhover a.sffocus {
      margin-left: 0; }
    #menu-site li li:hover a:focus + ul, #menu-site li li.sfhover a.sffocus + ul {
      margin-left: 10em; }
    #menu-site li:hover ul, #menu-site li.sfhover ul {
      left: auto; }
      #menu-site li:hover ul li, #menu-site li.sfhover ul li {
        display: block;
        width: auto; }
      #menu-site li:hover ul ul, #menu-site li.sfhover ul ul {
        left: -999em; }
    #menu-site li li:hover ul, #menu-site li li.sfhover ul {
      left: auto; }
    #menu-site li ul {
      position: absolute;
      width: 8.75em;
      left: -999em; }
      #menu-site li ul ul {
        margin: -1em 0 0 8.75em; }
  #menu-site a {
    transition: color 0.2s ease-in-out;
    font-family: Arial sans-serif;
    text-transform: lowercase;
    font-variant: small-caps;
    text-decoration: none; }
  #menu-site > ul {
    text-align: left; }
    #menu-site > ul ul {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #ada28e;
      border-top: 0 none;
      font-size: 1.5rem; }
      #menu-site > ul ul a {
        padding-left: .125em; }
    #menu-site > ul > li {
      padding-right: 1em; }
      #menu-site > ul > li.submenu > a:after {
        font-size: 1.25rem;
        content: "▾"; }
      #menu-site > ul > li:not(:hover) ul {
        opacity: 0; }
      #menu-site > ul > li:hover ul {
        opacity: 1;
        transition: opacity 0.4s ease-in-out; }

#menu-site li ul ~ a:after {
  content: "˅"; }

#menu-social {
  right: 0;
  margin-right: 2em;
  bottom: 2.5rem;
  position: absolute; }
  #menu-social a {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 1; }
    #menu-social a:hover {
      text-decoration: none;
      color: #231f19; }

.messages {
  clear: both;
  float: left;
  margin-top: 1.618em;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .messages:after {
    content: "";
    display: table;
    clear: both; }
  .messages:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .messages {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .messages:last-child {
        margin-right: 0; } }
  .messages div {
    margin-top: 1.618em;
    padding: 0.4045em; }
  .messages div:first-child {
    margin-top: 0; }
  .messages h1 {
    font-size: 168%;
    border: 0 none;
    float: left;
    padding: 0;
    margin: 0; }
  .messages p {
    margin: 0;
    margin-top: 0.35596em;
    margin-left: 2.0225em; }
  .messages .error {
    border: 1px solid #5e444d;
    background: #ede7e9; }
    .messages .error h1 {
      color: #963f5d; }
  .messages .warning {
    border: 1px solid #5a5e44;
    background: #ecede7; }
    .messages .warning h1 {
      color: #89963f; }
  .messages .notice {
    border: 1px solid #444d5e;
    background: #e7e9ed; }
    .messages .notice h1 {
      color: #3f5d96; }
  .messages .success {
    border: 1px solid #4d5e44;
    background: #e9ede7; }
    .messages .success h1 {
      color: #5d963f; }

a {
  color: #5e5544;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #231f19; }

#content {
  padding: 4.125em 2%;
  clear: both;
  min-height: 16.18em;
  max-width: 80rem;
  display: block; }
  #content:after {
    content: "";
    display: table;
    clear: both; }
  #content p {
    margin-top: 1em;
    line-height: 1.4em;
    padding: 0 0.4045em;
    font-family: Baskerville; }
  #content ul, #content ol, #content dl {
    margin-left: 1.5em;
    font-family: Baskerville; }
  #content ul {
    list-style-type: disc; }
  #content li {
    line-height: 1.4em; }

section h1 {
  padding-top: 0.53933em;
  padding-bottom: 0;
  display: inline-block;
  border-bottom: 1px solid #ada28e;
  text-transform: uppercase;
  margin-bottom: 0.53933em;
  font-size: 1.5em;
  font-weight: normal;
  font-family: "CartoGothic Std", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif; }

section h2 {
  font-size: 1.3em;
  padding: 0.6472em auto;
  margin-top: 1.2944em;
  text-transform: capitalize;
  font-family: "CartoGothic Std", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;
  font-weight: normal; }

#main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #main:after {
    content: "";
    display: table;
    clear: both; }
  #main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #main {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #main:last-child {
        margin-right: 0; } }

#sidebar {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #sidebar {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #sidebar:last-child {
        margin-right: 0; } }

#slideshow {
  overflow: hidden; }

#blog {
  display: block;
  float: left;
  margin-right: 3.57866%;
  width: 100%; }
  #blog:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #blog {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #blog:last-child {
        margin-right: 0; } }
  #blog .blog-date {
    outline: 1px solid #1c1b1c;
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 15.84234%; }
    #blog .blog-date:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      #blog .blog-date {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 21.37813%; }
        #blog .blog-date:last-child {
          margin-right: 0; } }
    #blog .blog-date p {
      margin: 0;
      text-align: center;
      line-height: 1.5em; }
    #blog .blog-date .date-text {
      display: none; }
    #blog .blog-date .date-month {
      background: #1c1b1c;
      color: #fff; }
    #blog .blog-date .date-day {
      font-size: 2.75em; }
  #blog article {
    margin-left: 19.21868%; }
    @media screen and (max-width: 500px) {
      #blog article {
        margin-left: 26.20729%; } }
  #blog .more-link {
    margin-left: 19.21868%; }
    #blog .more-link:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 500px) {
      #blog .more-link {
        margin-left: 26.20729%; } }
    #blog .more-link a {
      background: #ac8848;
      color: #644f2a;
      display: inline-block;
      padding: .2em;
      border: 0 none;
      border: 1px solid #886c39; }
      #blog .more-link a:hover {
        background: #7a6033;
        border: 1px solid #564424;
        color: #f8deb3;
        text-decoration: none; }

#info {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #info:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #info {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #info:last-child {
        margin-right: 0; } }
  #info h2 {
    margin-bottom: 0; }
  #info ol {
    padding: 0;
    margin-left: 0;
    margin-top: 0; }
  #info li {
    border-top: 1px solid #b6b3b6;
    list-style: none; }
  #info li:first-child {
    border-top: 0 none; }
  #info .event-title {
    display: inline-block; }
  #info .event-time {
    display: inline-block;
    text-align: right;
    float: right;
    color: #6a666a; }
  #info .location {
    background: #1c1b1c;
    color: #ada28e;
    margin-top: 1.618em;
    padding: 0.809em; }
  #info .location h2 {
    font-size: 202%;
    display: inline-block;
    margin-top: 0;
    margin-right: 0.809em;
    margin-bottom: 0; }
  #info .location p {
    display: inline-block;
    margin: 0; }
  #info .location a {
    color: #ada28e; }

#sermons {
  background: #1c1b1c;
  color: #fff;
  margin-top: 1.618em;
  padding: .5em; }
  @media screen and (max-width: 500px) {
    #sermons {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #sermons:last-child {
        margin-right: 0; } }
  #sermons h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
    border-bottom: 0 none;
    text-transform: capitalize;
    float: left; }
    @media screen and (max-width: 500px) {
      #sermons h1 {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #sermons h1:last-child {
          margin-right: 0; } }
  #sermons a {
    color: #ac8848; }
  #sermons a:hover {
    color: #f8deb3; }
  #sermons audio, #sermons .mejs-container {
    background: none;
    clear: both; }
    @media screen and (max-width: 500px) {
      #sermons audio, #sermons .mejs-container {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #sermons audio:last-child, #sermons .mejs-container:last-child {
          margin-right: 0; } }
  #sermons .mejs-controls {
    background: none; }
  #sermons .mejs-time-loaded {
    background: linear-gradient(#ac8848, #7a6033); }
  #sermons .download {
    padding: 0;
    float: right;
    text-align: right; }
    @media screen and (max-width: 500px) {
      #sermons .download {
        margin-top: 0;
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%;
        float: left;
        text-align: left; }
        #sermons .download:last-child {
          margin-right: 0; } }
    #sermons .download a {
      font-size: 1.25em;
      background: #ac8848;
      color: #644f2a;
      display: inline-block;
      padding: .2em;
      border: 0 none;
      border: 1px solid #886c39; }
      #sermons .download a:hover {
        background: #7a6033;
        border: 1px solid #564424;
        color: #f8deb3;
        text-decoration: none; }
  #sermons .more-link {
    margin-right: 0;
    text-align: right;
    float: right;
    margin-top: -1em;
    padding: 0;
    line-height: 1;
    height: 1em; }
    @media screen and (max-width: 500px) {
      #sermons .more-link {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 47.58542%;
        float: left; }
        #sermons .more-link:last-child {
          margin-right: 0; } }
  #sermons p {
    margin: 0;
    height: 30px; }

#tweets {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #tweets:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #tweets {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #tweets:last-child {
        margin-right: 0; } }
  #tweets .more-link a {
    background: #ac8848;
    color: #644f2a;
    display: inline-block;
    padding: .2em;
    border: 0 none;
    border: 1px solid #886c39; }
    #tweets .more-link a:hover {
      background: #7a6033;
      border: 1px solid #564424;
      color: #f8deb3;
      text-decoration: none; }

#events {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }
  #events:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    #events {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      #events:last-child {
        margin-right: 0; } }

.button {
  background: #ac8848;
  color: #644f2a;
  display: inline-block;
  padding: .2em;
  border: 0 none;
  border: 1px solid #886c39; }
  .button:hover {
    background: #7a6033;
    border: 1px solid #564424;
    color: #f8deb3;
    text-decoration: none; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.pastor-photo {
  float: left;
  width: 15.9434em;
  margin-right: 1.618em; }

form fieldset {
  border: 0 none; }
form ol {
  padding-left: 0;
  margin-left: 0 !important; }
form li {
  display: block;
  margin-top: 0.809em; }
  form li:after {
    content: "";
    display: table;
    clear: both; }
form li:first-child {
  margin-top: 0; }
form label {
  display: inline-block;
  margin-right: 2.35765%;
  width: 14.70196%;
  vertical-align: top;
  text-align: right;
  padding-top: 0.4045em; }
  form label:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    form label {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%;
      text-align: left; }
      form label:last-child {
        margin-right: 0; } }
form textarea, form input[type="text"], form input[type="password"], form input[type="phone"], form input[type="url"], form input[type="email"], form input[type="date"], form input[type="datetime"], form input[type="file"] {
  display: inline-block;
  margin-right: 2.35765%;
  width: 23.23176%;
  border: 1px solid #b6b3b6;
  padding: 0.20225em;
  vertical-align: top; }
  form textarea:last-child, form input[type="text"]:last-child, form input[type="password"]:last-child, form input[type="phone"]:last-child, form input[type="url"]:last-child, form input[type="email"]:last-child, form input[type="date"]:last-child, form input[type="datetime"]:last-child, form input[type="file"]:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    form textarea, form input[type="text"], form input[type="password"], form input[type="phone"], form input[type="url"], form input[type="email"], form input[type="date"], form input[type="datetime"], form input[type="file"] {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 65.05695%; }
      form textarea:last-child, form input[type="text"]:last-child, form input[type="password"]:last-child, form input[type="phone"]:last-child, form input[type="url"]:last-child, form input[type="email"]:last-child, form input[type="date"]:last-child, form input[type="datetime"]:last-child, form input[type="file"]:last-child {
        margin-right: 0; } }
form textarea {
  height: 4.854em; }
form input[type="submit"] {
  margin-left: 34.94305%;
  background: #ac8848;
  color: #644f2a;
  display: inline-block;
  padding: .2em;
  border: 0 none;
  border: 1px solid #886c39; }
  form input[type="submit"]:hover {
    background: #7a6033;
    border: 1px solid #564424;
    color: #f8deb3;
    text-decoration: none; }
  @media screen and (max-width: 500px) {
    form input[type="submit"] {
      margin-left: 0; } }
form .input-advice {
  display: inline-block;
  margin-right: 2.35765%;
  width: 31.76157%;
  color: #6a666a;
  font-size: 80%;
  margin-top: 0 !important;
  padding: 0; }
  form .input-advice:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    form .input-advice {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      form .input-advice:last-child {
        margin-right: 0; } }

.data-list {
  width: 100%; }
  @media screen and (max-width: 500px) {
    .data-list {
      display: block; }
      .data-list:after {
        content: "";
        display: table;
        clear: both; } }
  .data-list thead, .data-list tbody, .data-list tr {
    width: 100%; }
  .data-list thead tr {
    border-bottom: 1px solid #ad9a7c; }
  .data-list tbody tr:nth-child(2n) {
    background: #faf2e3; }
  .data-list th, .data-list td {
    text-align: left;
    vertical-align: top; }
  .data-list .date-created {
    text-align: right; }

#ui-datepicker-div {
  border: 1px solid #6a666a;
  background: #fff; }
  #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
    float: right; }
  #ui-datepicker-div .ui-datepicker-header a {
    cursor: pointer; }
  #ui-datepicker-div .ui-datepicker-header a.ui-state-disabled {
    color: #1c1b1c;
    cursor: default; }
  #ui-datepicker-div .ui-datepicker-header a.ui-state-disabled:hover {
    text-decoration: none; }
  #ui-datepicker-div .ui-datepicker-title {
    padding: .125em;
    text-align: center;
    font-weight: bold;
    margin-top: -1.75em; }
  #ui-datepicker-div .ui-datepicker-calendar td, #ui-datepicker-div .ui-datepicker-calendar th {
    padding: 0 .25em 0 .25em; }
  #ui-datepicker-div .ui-datepicker-today {
    background: #f8deb3; }
  #ui-datepicker-div .ui-datepicker-current-day {
    background: #ada28e; }
  #ui-datepicker-div tbody .ui-state-disabled {
    color: #b6b3b6; }

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  float: left;
  clear: eft;
  padding: 0 0 0 5px; }

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%; }

.ui-timepicker-div td {
  font-size: 90%; }

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

.ui-timepicker-rtl {
  direction: rtl; }

.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0; }

.ui-timepicker-rtl dl dt {
  float: right;
  clear: right; }

.ui-timepicker-rtl dl dd {
  margin: 0 45% 10px 10px; }

.category-tabs {
  list-style-type: none; }
  .category-tabs li {
    display: inline-block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .category-tabs li:last-child {
      margin-right: 0; }
    .category-tabs li a {
      display: block; }

.slide {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .slide:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .slide {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .slide:last-child {
        margin-right: 0; } }

.slide .actions p {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 46.28851%; }
  .slide .actions p:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .slide .actions p {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .slide .actions p:last-child {
        margin-right: 0; } }

#add-link {
  display: block; }
  #add-link:after {
    content: "";
    display: table;
    clear: both; }

#content .pagination ul {
  list-style-type: none; }
  #content .pagination ul li {
    display: inline-block;
    padding: 2.35765%; }

.half {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px) {
    .half {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .half:last-child {
        margin-right: 0; } }

footer {
  clear: both;
  display: block;
  margin-left: -9999em;
  margin-right: -9999em;
  padding-left: 9999em;
  padding-right: 9999em;
  background: #1c1b1c;
  color: #fff;
  padding-bottom: 5em;
  margin-top: 1em; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer a:hover {
    color: #f8deb3; }
  footer section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    footer section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      footer section {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        footer section:last-child {
          margin-right: 0; } }
  footer ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    padding: 0; }

#menu-access {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  #menu-access.focusable:active, #menu-access.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

#menu-access:focus, #menu-access :focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }


/*# sourceMappingURL=sass.css.map */
.bss-slides{
  position: relative;
  display: block;
}
.bss-slides:focus{
 outline: 0;
}
.bss-slides figure{
  position: absolute;
  top: 0;
  width: 100%;
}
.bss-slides figure:first-child{
  position: relative;
}
.bss-slides figure img{
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bss-slides .bss-show{
  z-index: 2;
}
.bss-slides .bss-show img{
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.bss-slides figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption{
  z-index: 3;
  opacity: 1;
}
.bss-slides figcaption a{
  color: #fff;
}
.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover, .bss-prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bss-next{
  right: -1px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen{
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,.4) url(../img/arrows-alt_ffffff_64.png);
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  opacity: .3;
}
.bss-fullscreen:hover{
  opacity: .8;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
/*
   Plupload
------------------------------------------------------------------- */

.plupload_wrapper * {
	box-sizing: content-box;
}

.plupload_button {
	cursor: pointer;
	outline: none;
}

.plupload_wrapper {
	font: normal 11px Verdana,sans-serif;
	width: 100%;
	min-width: 520px;
	line-height: 12px;
}

.plupload_container {
	_height: 300px;
	min-height: 300px;
	position: relative;
}

.plupload_filelist_footer {border-width: 1px 0 0 0}
.plupload_file {border-width: 0 0 1px 0}
.plupload_container .plupload_header {border-width: 0 0 1px 0; position: relative;}

.plupload_delete .ui-icon, 
.plupload_done .ui-icon,
.plupload_failed .ui-icon {
	cursor:pointer;	
}

.plupload_header_content {
	height: 56px;
	padding: 0 160px 0 60px;
	position: relative;
}

.plupload_logo {
	width: 40px;
	height: 40px;
	background: url('../img/plupload.png') no-repeat 0 0;
	position: absolute;
	top: 8px;
	left: 8px;
}

.plupload_header_content_bw .plupload_logo {
	background-position: -40px 0;
}

.plupload_header_title {
	font: normal 18px sans-serif;
	line-height: 19px;
	padding: 6px 0 3px;
}

.plupload_header_text {
	font: normal 12px sans-serif;
}

.plupload_view_switch {
	position: absolute;
	right: 16px;
	bottom: 8px;
	margin: 0;
	display: none;
}

.plupload_view_switch .ui-button {
	margin-right: -0.31em;
}

.plupload_content {
	position: absolute;
	top: 86px;
	bottom: 44px;
	left: 0;
	right: 0;
	overflow-y: auto;
	width: 100%;
}

.plupload_filelist {
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: 0;
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.plupload_filelist_content {
	padding: 0;
	margin: 0;
}

.plupload_cell {padding: 8px 6px;}

.plupload_file {
	list-style: none;
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 12px;
}

.plupload_file_thumb {
	position: relative;
	background-image: none;
	background-color: #eee;
}

.plupload_file_loading .plupload_file_thumb {
	background: #eee url(../img/loading.gif) center no-repeat;
}

.plupload_file_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.plupload_filelist_header {
	border-top: none;
}

.plupload_filelist_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.plupload_buttons { 
	position: relative;
}

/* list view */
.plupload_view_list .plupload_file {
	border-left: none;
	border-right: none;
	border-top: none;
	height: 29px;
	width: 100% !important;
	/* fix IE6 vertical white-space bug */
	_float: left;
	_clear: left;
}

.plupload_view_list div.plupload_file_size, 
.plupload_view_list div.plupload_file_status,
.plupload_view_list div.plupload_file_action {
	padding: 8px 6px;
	position: absolute;
	top: 0;
	right: 0;
}

.plupload_view_list div.plupload_file_name {
	margin-right: 156px;
	padding: 8px 6px;
	_width: 75%;
}

.plupload_view_list div.plupload_file_size {
	right: 28px;
}

.plupload_view_list div.plupload_file_status {
	right: 82px;
}

.plupload_view_list .plupload_file_rename {
	margin-left: -2px;
}

.plupload_view_list .plupload_file_size, 
.plupload_view_list .plupload_file_status,
.plupload_filelist_footer .plupload_file_size, 
.plupload_filelist_footer .plupload_file_status {
	text-align: right; 
	width: 52px;
}

.plupload_view_list .plupload_file_thumb {
	position: absolute;
	top: -999px;
}

.plupload_view_list .plupload_file_progress {
	display: none;
}


/* thumbs view */
.plupload_view_thumbs .plupload_content {
	top: 57px;
}

.plupload_view_thumbs .plupload_filelist_header {
	display: none;
}

.plupload_view_thumbs .plupload_file {
	padding: 6px;
	margin: 10px;
	border: 1px solid #fff;
	float: left;
}

.plupload_view_thumbs .plupload_file_thumb,
.plupload_view_thumbs .plupload_file_dummy {
	text-align: center;
	overflow: hidden;
}

.plupload_view_thumbs .plupload_file_dummy {
	font-size: 21px;
	font-weight: bold;
	text-transform: lowercase;
	overflow: hidden;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plupload_view_thumbs div.plupload_file_action {
	position: absolute;
	top: 0;
	right: 0;
}

.plupload_view_thumbs div.plupload_file_name {
	padding: 0;
	font-weight: bold;
}

.plupload_view_thumbs .plupload_file_rename {
	padding: 1px 0;
	width: 100% !important;
}

.plupload_view_thumbs div.plupload_file_size {
	font-size: 0.8em;
	font-weight: normal;
}

.plupload_view_thumbs div.plupload_file_status {
	position: relative;	
	height: 3px;
	overflow: hidden;
	text-indent: -999px;
	margin-bottom: 3px;
}

.plupload_view_thumbs div.plupload_file_progress {
	border: none;
	height: 100%;
}

.plupload .ui-sortable-helper,
.plupload .ui-sortable .plupload_file {
	cursor:move;	
}

.plupload_file_action {width: 16px;}
.plupload_file_name {
	overflow: hidden;
	padding-left: 10px;
}

.plupload_file_rename {
	border: none;
	font: normal 11px Verdana, sans-serif;
	padding: 1px 2px;
	line-height: 11px;
	height: 11px;
}

.plupload_progress {width: 60px;}
.plupload_progress_container {padding: 1px;}


/* Floats */

.plupload_right {float: right;}
.plupload_left {float: left;}
.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;
}
.plupload_clearer {height: 0;}

/* Misc */
.plupload_hidden {display: none !important;}

.plupload_droptext {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 160px;
	display: none;
}

.plupload_dropbox .plupload_droptext {
	display: block;
}

.plupload_buttons, .plupload_upload_status {float: left}

.plupload_message {
	position: absolute;
	top: -1px;
	left: -1px;	
	height: 100%;
	width: 100%;
}

.plupload_message p {
	padding:0.7em;
	margin:0;
}

.plupload_message strong {
	font-weight: bold;	
}

.plupload_message i {
	font-style: italic;	
}

.plupload_message p span.ui-icon {
	float: left;
	margin-right: 0.3em;	
}

.plupload_header_content .ui-state-error,
.plupload_header_content .ui-state-highlight {
	border:none;	
}

.plupload_message_close {
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;	
}

.plupload .ui-sortable-placeholder {
	height:35px;
}

/*# sourceMappingURL=styles.css.map */