@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot');
	src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome.woff') format('woff'),
		url('fonts/fontawesome.ttf') format('truetype'),
		url('fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-warning-sign, .icon-info-sign, .icon-question-sign, .icon-ok-circle, .icon-play, .icon-backward, .icon-fast-backward, .icon-step-backward, .icon-pause, .icon-stop, .icon-forward, .icon-fast-forward, .icon-step-forward, .icon-chevron-left, .icon-chevron-right, .icon-plus-sign, .icon-minus-sign, .icon-ok-sign, .icon-map-marker, .icon-cog, .icon-home, .icon-trash, .icon-remove, .icon-ok, .icon-th-list, .icon-search, .icon-envelope, .icon-download-alt, .icon-time, .icon-exclamation-sign, .icon-cogs, .icon-phone-sign, .icon-google-plus-sign, .icon-caret-right, .icon-caret-down, .icon-caret-up, .icon-caret-left, .icon-sort, .icon-sort-down, .icon-sort-up, .icon-envelope-alt, .icon-sitemap, .icon-volume-off, .icon-volume-down, .icon-volume-up, .icon-facebook-sign, .icon-twitter-sign, .icon-ban-circle, .icon-remove-circle, .icon-plus, .icon-sign-blank, .icon-sign-blank-2 {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-warning-sign:before {
	content: "\f071";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-play:before {
	content: "\f04b";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-cog:before {
	content: "\f013";
}
.icon-home:before {
	content: "\f015";
}
.icon-trash:before {
	content: "\f014";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope:before {
	content: "\f003";
}
.icon-download-alt:before {
	content: "\f019";
}
.icon-time:before {
	content: "\f017";
}
.icon-exclamation-sign:before {
	content: "\f06a";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-phone-sign:before {
	content: "\f098";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-ban-circle:before {
	content: "\f05e";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-plus:before {
	content: "\f067";
}
.icon-sign-blank:before {
	content: "\f0c8";
}
.icon-sign-blank-2:before {
	content: "\e004";
}
