@mixin suckerfish($topLevelWidth, $lowerLevelWidth) {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		line-height: 1;
		z-index: 999;
	}
	a {
		display: block;
		// width: $topLevelWidth;
	}
	li {
		display: inline-block;

		& a:focus + ul { margin-left: 0; }
		& li a:focus + ul { margin-left: 1010em; }
		& li a:focus { margin-left:1000em; width:10em; }
		& li li a:focus {margin-left: 2010em; width: 10em; }
		&:hover a:focus, &.sfhover a.sffocus { margin-left: 0; }
		& li:hover a:focus + ul, & li.sfhover a.sffocus + ul { margin-left: 10em; }

		&:hover, &.sfhover {
			ul {
				left:auto;

			    li {
			        display: block;
			        width : auto;
			    }

				ul {
					left: -999em;
				}
			}
		}
		li:hover, li.sfhover {
			ul {
				left: auto;
			}
		}
		ul {
			position: absolute;
			width: $lowerLevelWidth;
			left: -999em;
			ul {
				margin: -1em 0 0 $lowerLevelWidth;
			}
		}
	}
}