@charset "UTF-8";

// @import 'meyer-reset';
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "suckerfish";

// $visual-grid : true;
$box-sizing: true;

$font-path: "../../fonts/fontawesome";

@font-face {
    font-family: 'fontawesome';
    src: url("#{$font-path}.eot");
    src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"), url("#{$font-path}.svg#fontawesome") format("svg"), url("#{$font-path}.woff") format("woff"), url("#{$font-path}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CartoGothic Std';
    src: url("../../fonts/CartoGothicStd-Bold-webfont.eot");
    src: local("☺"), url("../../fonts/CartoGothicStd-Bold-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Bold-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'CartoGothic Std';
    src: url("../../fonts/CartoGothicStd-BoldItalic-webfont.eot");
    src: local("☺"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-BoldItalic-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'CartoGothic Std';
    src: url("../../fonts/CartoGothicStd-Book-webfont.eot");
    src: local("☺"), url("../../fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Book-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'CartoGothic Std';
    src: url("../../fonts/CartoGothicStd-Italic-webfont.eot");
    src: local("☺"), url("../../fonts/CartoGothicStd-Italic-webfont.woff") format("woff"), url("../../fonts/CartoGothicStd-Italic-webfont.ttf") format("truetype"), url("../../fonts/CartoGothicStd-Italic-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILB-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILB-webfont.woff") format("woff"), url("../../fonts/CharisSILB-webfont.ttf") format("truetype"), url("../../fonts/CharisSILB-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILBI-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILBI-webfont.woff") format("woff"), url("../../fonts/CharisSILBI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILBI-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILI-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILI-webfont.woff") format("woff"), url("../../fonts/CharisSILI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILI-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILR-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILR-webfont.woff") format("woff"), url("../../fonts/CharisSILR-webfont.ttf") format("truetype"), url("../../fonts/CharisSILR-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILB-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILB-webfont.woff") format("woff"), url("../../fonts/CharisSILB-webfont.ttf") format("truetype"), url("../../fonts/CharisSILB-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILBI-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILBI-webfont.woff") format("woff"), url("../../fonts/CharisSILBI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILBI-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILI-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILI-webfont.woff") format("woff"), url("../../fonts/CharisSILI-webfont.ttf") format("truetype"), url("../../fonts/CharisSILI-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Charis SIL';
    src: url("../../fonts/CharisSILR-webfont.eot");
    src: local("☺"), url("../../fonts/CharisSILR-webfont.woff") format("woff"), url("../../fonts/CharisSILR-webfont.ttf") format("truetype"), url("../../fonts/CharisSILR-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Inconsolata';
    src: url("../../fonts/Inconsolata-webfont.eot");
    src: local("☺"), url("../../fonts/Inconsolata-webfont.woff") format("woff"), url("../../fonts/Inconsolata-webfont.ttf") format("truetype"), url("../../fonts/Inconsolata-webfont.svg#webfontX4pGz9fc") format("svg");
    font-weight: 500;
    font-style: normal;
}


@mixin header-font {
    // font-family: Arial, serif;
    font-family: "CartoGothic Std", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;
}

@mixin body-font {
    font-family: "Charis SIL", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
    font-size: 1.015em;
}

@mixin monospace-font {
    font-family: "Inconsolata", Menlo, Courier New, Courier, Mono, monospace;
    font-size: 1.070em;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
    content: attr(data-icon);
    font-family: 'fontawesome';
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

@mixin unhide {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Colors
// Logo
$logo_brown: #5e5544;
$dark_brown: darken($logo_brown, 20%);
$light_brown: lighten($logo_brown, 30%);
$brown_cream: #f8deb3;
$brown_carmel: #ac8848;
$brown_toffee: #7a6033;
$brown_sand: #ad9a7c;

// $logo_black : #151515;
$logo_black: #1c1b1c;
$medium_black: lighten($logo_black, 30%);
$light_black: lighten($logo_black, 60%);

// Reds
$dark_red: adjust-hue($logo_brown, -60);
$medium_red: saturate(lighten($dark_red, 10%), 25);
$light_red: lighten($dark_red, 60%);

// Yellows
$dark_yellow: adjust-hue($logo_brown, 30);
$medium_yellow: saturate(lighten($dark_yellow, 10%), 25);
$light_yellow: lighten($dark_yellow, 60%);

// Greens
$dark_green: adjust-hue($logo_brown, 60);
$medium_green: saturate(lighten($dark_green, 10%), 25);
$light_green: lighten($dark_green, 60%);

// Blues
$dark_blue: adjust-hue($logo_brown, 180);
$medium_blue: saturate(lighten($dark_blue, 10%), 25);
$light_blue: lighten($dark_blue, 60%);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 6);

$max-width: em(1000);

@mixin button {
    background: $brown_carmel;
    color: darken($brown_carmel, 20%);
    @include inline-block;
    padding: .2em;
    border: 0 none;
    border: 1px solid darken($brown_carmel, 10%);
    &:hover {
        background: $brown_toffee;
        border: 1px solid darken($brown_toffee, 10%);
        color: $brown_cream;
        text-decoration: none;
    }
}

html {}

body {
    color: $logo_black;
    text-align: center;
    @include body-font;

    &>* {
        margin: 0 auto;
        text-align: left;
    }
}

img {
    max-width: 100%;
}

#site-header {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid $light_brown;
    width: 100%;
    padding: 0 $gutter;
    z-index: 9999;
}

#menu-admin {
    @include suckerfish(4em, 7em);
    margin-left: -9999em;
    margin-right: -9999em;
    padding-left: 9999em;
    padding-right: 9999em;
    z-index: 900;
    background: $logo_black;
    color: #fff;
    min-height: 23px;
    // position: fixed;
    & ul {
        padding-left: 0;
        margin: 0;
        ul {
            // border-top: 1px solid $light_brown;
            background: $logo_black;
            margin-left: -$gutter / 4;
        }
    }
    & li {
        @include inline-block;
        margin-left: $gutter;
        list-style: none;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            background: $light_brown;
            a {
                color: $logo_black;
            }
            li a {
                color: $light_brown;
                &:hover {
                    color: $logo_black;
                }
            }
        }
        li {
            margin-left: 0;
            a {
                padding: $gutter / 8;
            }
        }
    }
    & a {
        padding: $gutter / 8;
        height: 100%;
        color: $light_brown;
        &:hover {
            color: $logo_black;
            background: $light_brown;
            text-decoration: none;
        }
    }
}

#header-content {
    z-index: 500;

    & > * {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        z-index: 501;
    }
    h1 {
        font-size: 1rem;
        font-style: italic;
        margin-left: $gutter;

    }
    & > a > img {
        width: 6em;
        padding-top: .125rem;
    }
}

#menu-site {
    text-align: right;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    @include suckerfish(5.5em, 8.75em);
    font-size: 2.25rem;
    & a {
        @include transition(color 0.2s ease-in-out);
        font-family: Arial sans-serif;
        text-transform: lowercase;
        font-variant: small-caps;
        text-decoration: none;
    }
    & > ul {
        text-align: left;
        // display: table-row;
        ul {
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid $light_brown;
            border-top: 0 none;
            font-size: 1.5rem;
            & a {
                padding-left: .125em;
            }
        }
        & > li {
            // display: table-cell;
            padding-right: 1em;
            &.submenu > a:after {
                font-size: 1.25rem;
                content: "▾";
            }
            &:not(:hover) ul {
                opacity: 0;
            }
            &:hover ul {
                opacity: 1;
                @include transition(opacity 0.4s ease-in-out);
            }
        }
    }
}

#menu-site li ul ~ a:after {
    content: "˅";
}


#menu-social {
    right: 0;
    margin-right: 2em;
    bottom: 2.5rem;
    position: absolute;
    a {
        display: inline-block;
        font-size: 1.75rem;
        line-height: 1;
        &:hover {
            text-decoration: none;
            color: $dark_brown;
        }
    }
}

.messages {
    clear: both;
    float: left;
    margin-top: $gutter;
    @include row;
    @include span-columns(12 of 12);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }

    div {
        margin-top: $gutter;
        padding: $gutter * 0.25;
    }
    div:first-child {
        margin-top: 0;
    }
    h1 {
        font-size: 168%;
        border: 0 none;
        float: left;
        padding: 0;
        margin: 0;
    }
    p {
        margin: 0;
        margin-top: $gutter * 0.22;
        margin-left: $gutter * 1.25;
    }
    .error {
        border: 1px solid $dark_red;
        background: $light_red;
        h1 {
            color: $medium_red;
        }
    }
    .warning {
        border: 1px solid $dark_yellow;
        background: $light_yellow;
        h1 {
            color: $medium_yellow;
        }
    }
    .notice {
        border: 1px solid $dark_blue;
        background: $light_blue;
        h1 {
            color: $medium_blue;
        }
    }
    .success {
        border: 1px solid $dark_green;
        background: $light_green;
        h1 {
            color: $medium_green;
        }
    }
}

a {
    color: $logo_brown;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $dark_brown;
}

#content {
    padding: 4.125em 2%;
    clear: both;
    min-height: $gutter * 10;
    max-width: 80rem;
    @include row;

    p {
        margin-top: 1em;
        line-height: 1.4em;
        padding: 0 $gutter * 0.25;
        font-family: Baskerville;
    }
    ul, ol, dl {
        margin-left: 1.5em;
        font-family: Baskerville;
    }
    ul {
        list-style-type: disc;
    }
    li {
        line-height: 1.4em;
    }
    & > h1:first-child {
        // padding-top: 2em;

    }
}

section h1 {
    padding-top: $gutter / 3;
    padding-bottom: 0;
    display: inline-block;
    border-bottom: 1px solid $light_brown;
    text-transform: uppercase;
    margin-bottom: $gutter / 3;
    font-size: 1.5em;
    font-weight: normal;
    @include header-font;
}

section h2 {
    font-size: 1.3em;
    padding: $gutter * 0.4 auto;
    margin-top: $gutter * 0.8;
    text-transform: capitalize;
    @include header-font;
    font-weight: normal;
}

#main {
    @include outer-container;
    @include span-columns(8 of 12);
    @include media($mobile) {
      @include span-columns(6 of 6);
    }
}

#sidebar {
    @include span-columns(4 of 12);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }
}

#slideshow {
  overflow: hidden;
  // @include span-columns(6 of 12);
//   @include fill-parent();
//   position: relative;
}

// #slideshow ul {
//   list-style-type: none;
//   margin-left: 0;
//   margin-top: $gutter;
// }

// #slideshow ul li {
//   display: none;
//   text-align: center;
//   background: $logo_black;
//   max-width: 727px;
//   max-height: 320px;

//   & img {
//     margin: 0 auto;
//   }

//   p {
//     text-align: left;
//   }
// }

// #slideshow ul li:first-child {
//   display: block;
// }

// #slideshow .flex-control-nav {
//   bottom: 0;
// }

#blog {
    @include span-columns(8 of 8);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }

    .blog-date {
        outline: 1px solid $logo_black;
        @include span-columns(1.5 of 8);
        @include media($mobile) {
            @include span-columns(1.5 of 6);
        }

        p {
            // font-size: 30%;
            margin: 0;
            text-align: center;
            line-height: 1.5em;
        }
        .date-text {
            display: none;
        }
        .date-month {
            background: $logo_black;
            color: #fff;
        }
        .date-day {
            // padding-top: .75em;
            // padding-bottom: .75em;
            font-size: 2.75em;
        }
    }
    article {
        @include shift(1.1);
        @include media($mobile) {
            @include shift(1.5);
        }
    }
    .more-link {
        @include clearfix;
        @include shift(1.1);
        @include media($mobile) {
            @include shift(1.5);
        }

        a {
            @include button;
        }
    }
}

#info {
    @include span-columns(4 of 4);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }

    h2 {
        margin-bottom: 0;
    }
    ol {
        padding: 0;
        margin-left: 0;
        margin-top: 0;
    }
    li {
        border-top: 1px solid $light_black;
        list-style: none;
    }
    & li:first-child {
        border-top: 0 none;
    }
    & .event-title {
        @include inline-block;
    }
    .event-time {
        @include inline-block;
        text-align: right;
        float: right;
        color: $medium_black;
    }
    .location {
        background: $logo_black;
        color: $light_brown;
        margin-top: $gutter;
        padding: $gutter * 0.5;
    }
    .location h2 {
        font-size: 202%;
        @include inline-block;
        margin-top: 0;
        margin-right: $gutter * 0.5;
        margin-bottom: 0;
    }
    .location p {
        @include inline-block;
        margin: 0;
    }
    .location a {
        color: $light_brown;
    }
}

#sermons {
    background: $logo_black;
    color: #fff;
    // @include span-columns(8 of 8);
    margin-top: $gutter;
    padding: .5em;
    @include media($mobile) {
        @include span-columns(6 of 6);
    }

    h1 {
        // @include span-columns(5 of 8);
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        color: #fff;
        border-bottom: 0 none;
        text-transform: capitalize;
        float: left;
        @include media($mobile) {
            @include span-columns(6 of 6);
        }
    }
    a {
        color: $brown_carmel;
    }
    a:hover {
        color: $brown_cream;
    }
    audio, .mejs-container {
        background: none;
        clear: both;
        // @include span-columns(5 of 8);
        @include media($mobile) {
            @include span-columns(6 of 6);
        }
    }
    .mejs-controls {
        background: none;
    }
    .mejs-time-loaded {
        @include background(linear-gradient($brown_carmel, $brown_toffee));
    }
    .download {
        // margin-top: -1.75em;
        padding: 0;
        float: right;
        text-align: right;
        @include media($mobile) {
            margin-top: 0;
            @include span-columns(3 of 6);
            float: left;
            text-align: left;
        }

        a {
            font-size: 1.25em;
            @include button;
        }
    }
    .more-link {
        @include omega;
        text-align: right;
        float: right;
        margin-top: -1em;
        padding: 0;
        line-height: 1;
        height: 1em;
        @include media($mobile) {
            @include span-columns(3 of 6);
            float: left;
        }
    }
    p {
        margin: 0;
        height: 30px;
    }
    // & div:not(:target) audio, & div:not(:target) .mejs-container {
    //  display: none;
    // }
    // & div:target audio, & div:target .mejs-container, & div audio {
    //  clear: both;
    //  display: block;
    //  margin-top: $gutter*.5;
    //  width: 100%;
    // }
}

#tweets {
    @include span-columns(4 of 4);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }

    .more-link a {
        @include button;
    }
}

#events {
    @include span-columns(4 of 4);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }
}

.button {
    @include button;
}

.visually-hidden {
    @include visually-hidden;
}

.pastor-photo {
    float: left;
    width: $column * 3 + $gutter * 2;
    margin-right: $gutter;
}

form {
    fieldset {
        border: 0 none;
    }
    ol {
        padding-left: 0;
        margin-left: 0 !important;
    }
    li {
        @include row;
        margin-top: $gutter * 0.5;
    }
    li:first-child {
        margin-top: 0;
    }
    label {
        @include span-columns(2 of 12, inline-block);
        vertical-align: top;
        text-align: right;
        padding-top: $gutter * 0.25;
        @include media($mobile) {
            @include span-columns(6 of 6);
            text-align: left;
        }
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="phone"],
    input[type="url"],
    input[type="email"],
    input[type="date"],
    input[type="datetime"],
    input[type="file"] {
        @include span-columns(3 of 12, inline-block);
        border: 1px solid $light_black;
        padding: $gutter * 0.125;
        vertical-align: top;
        @include media($mobile) {
            @include span-columns(4 of 6);
        }
    }
    textarea {
        height: $gutter * 3;
    }
    input[type="submit"] {
        @include shift(2);
        @include button;
        @include media($mobile) {
            margin-left: 0;
        }
    }
    .input-advice {
        // @include clearfix;
        @include span-columns(4 of 12, inline-block);
        @include media($mobile) {
            @include span-columns(6 of 6);
        }

        color: $medium_black;
        font-size: 80%;
        margin-top: 0 !important;
        // important is necessary because #content p has higher specificity
        padding: 0;
    }
}

.data-list {
    width: 100%;
    @include media($mobile) {
        @include row(6);
    }

    thead, tbody, tr {
        @include fill-parent;
    }
    thead tr {
        border-bottom: 1px solid $brown_sand;
    }
    tbody tr:nth-child(2n) {
        background: #faf2e3;
    }
    th,
    td {
        text-align: left;
        vertical-align: top;
        // @include pad();

    }
    .date-created {
        text-align: right;
    }
}

#ui-datepicker-div {
    border: 1px solid $medium_black;
    background: #fff;
    & .ui-datepicker-header .ui-datepicker-next {
        float: right;
    }
    & .ui-datepicker-header a {
        cursor: pointer;
    }
    & .ui-datepicker-header a.ui-state-disabled {
        color: $logo_black;
        cursor: default;
    }
    & .ui-datepicker-header a.ui-state-disabled:hover {
        text-decoration: none;
    }
    & .ui-datepicker-title {
        padding: .125em;
        text-align: center;
        font-weight: bold;
        margin-top: -1.75em;
    }
    & .ui-datepicker-calendar td, & .ui-datepicker-calendar th {
        padding: 0 .25em 0 .25em;
    }
    & .ui-datepicker-today {
        background: $brown_cream;
    }
    & .ui-datepicker-current-day {
        background: $light_brown;
    }
    & tbody .ui-state-disabled {
        color: $light_black;
    }
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    float: left;
    clear: eft;
    padding: 0 0 0 5px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 45%;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
    float: right;
    clear: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 45% 10px 10px;
}

.category-tabs {
    list-style-type: none;
    li {
        @include span-columns(1, inline-block);
        a {
            display: block;
        }
    }
}

.slide {
    @include span-columns(4 of 12);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }
}

.slide .actions p {
    @include span-columns(2 of 4);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }
}

#add-link {
    @include row(12);
}

#content .pagination ul {
    list-style-type: none;
    li {
        @include inline-block;
        @include pad;
    }
}

.half {
    @include span-columns(6 of 12);
    @include media($mobile) {
        @include span-columns(6 of 6);
    }
}

footer {
    clear: both;
    @include row;
    margin-left: -9999em;
    margin-right: -9999em;
    padding-left: 9999em;
    padding-right: 9999em;
    background: $logo_black;
    color: #fff;
    // Add a little extra padding to give Laravel's profiler some room when in development environments
    padding-bottom: 5em;
    margin-top: 1em;
    a:hover {
        color: $brown_cream;
    }
    section {
        @include span-columns(3 of 12);
        @include media($mobile) {
            @include span-columns(6 of 6);
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        margin-top: 1em;
        padding: 0;
    }
}

// nav, nav ul { /* all lists
//  padding: 0;
//  margin: 0;
//  @include row;
//  position: static;
// }

// nav {
//  display: table;
// }

// nav > ul {
//  display: table-row;
// }

// nav a {
//  display: block;
//  // width: 10em;

//  &:hover {
//    text-decoration: none;
//  }

// }

#menu-access {
  @include visually-hidden;
}

#menu-access:focus, #menu-access :focus {
  @include unhide;
}